body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

/* header {
  background-color: #e64d1e;
  color: #fff;
  padding: 20px;
  text-align:  center;
} */

main {
  background-color: blanchedalmond;
}

main h3 {
  text-align: center;

  text-decoration: underline;
  font-size: 35px;
}
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tarta {
  background-color: #fff;
  width: 45%;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tarta img {
  width: 100%;
  max-width: 300px;
  height: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  object-fit: cover;
}

.tarta p {
  text-align: center;
}

h2 {
  color: #e64d1e;
}

.precio {
  color: #777;
  display: grid;
  height: 60px;
  grid-template-rows: 1fr auto;
  font-size: 20px;
}

.btn-comprar {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-comprar:hover {
  background-color: #45a049;
}

@media (max-width: 768px) {
  .tarta {
    width: 100%;
  }
}
