main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: blanchedalmond; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: linear-gradient(130deg, grey, #91EAE4); 
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 340px;
    padding: 40px;
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff; /* Texto en blanco para contraste */
    margin-bottom: 8px;
    display: block;
}

input[type="text"],
input[type="password"] {
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

input[type="text"]:focus,
input[type="password"]:focus {
    background-color: rgba(255, 255, 255, 1); /* Fondo blanco completo al enfocar */
}

button {
    background-color: #FF6F61; /* Color de botón */
    color: #ffffff;
    border: none;
    padding: 14px 24px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

button:hover {
    background-color: #FF7854; /* Color de botón al pasar el cursor */
}

button:active {
    background-color: #FF5733; /* Color de botón al presionar */
}

button:focus {
    outline: none;
}

@media screen and (max-width: 360px) {
    .container {
        width: 280px;
        padding: 30px;
    }

    input[type="text"],
    input[type="password"] {
        padding: 10px;
        font-size: 14px;
    }

    button {
        padding: 12px 20px;
        font-size: 14px;
    }
}
